`` SQL -- Structured Query Language ``

In [1]:
import sqlite3

In [2]:
sqlite3

# Steps in creating databases 

`` The First step is to make a connection to the db ``

`` Second step involves creation of table ``

`` A table has a name and consists of field names along with their desired data type ``

`` Fields can be unique, they can have additional attributes like, primary key, foreign key, not null ``

In [3]:
print(dir(sqlite3))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [4]:
sqlite3.version

'2.6.0'

In [5]:
sqlite3.version_info

(2, 6, 0)

In [6]:
sqlite3.connect

In [7]:
import sqlite3 as sq

In [8]:
sq

`` Our First Database Implemenation ``

In [9]:
help(sq.connect)

Help on built-in function connect in module _sqlite3:

connect(...)
    connect(database[, timeout, detect_types, isolation_level,
            check_same_thread, factory, cached_statements, uri])

    Opens a connection to the SQLite database file *database*. You can use
    ":memory:" to open a database connection to a database that resides in
    RAM instead of on disk.

In [10]:
sq.connect.__doc__

'connect(database[, timeout, detect_types, isolation_level,\n        check_same_thread, factory, cached_statements, uri])\n\nOpens a connection to the SQLite database file *database*. You can use\n":memory:" to open a database connection to a database that resides in\nRAM instead of on disk.'

In [11]:
con = sq.connect('mydb.sqlite3')

In [12]:
con, type(con)

(<sqlite3.Connection at 0x27d7e7ddd50>, sqlite3.Connection)

In [13]:
# Create a Table 
# Table name : USER, id int, name text, age int

In [14]:
print(dir(con))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [15]:
cur = con.cursor()

In [16]:
help(cur.execute)

Help on built-in function execute:

execute(...) method of sqlite3.Cursor instance
    Executes a SQL statement.

In [18]:
cur.execute('create table USER(id int,name text,age int)')

OperationalError: table USER already exists

In [19]:
cur.execute('create table if not exists USER(id int,name text,age int)')

In [20]:
cur.execute('insert into USER values(?,?,?)',(1,"Rahul",38))

In [21]:
cur.execute('insert into USER values(?,?,?)',(2,"Ujjwal",34))

In [22]:
cur.execute('insert into USER values(?,?,?)',(3,"Shweta",40))

In [23]:
# Retrieving data

`` select * from table_name  ``

`` select item1,item2 from table_name ``

`` select id,name,age from USER ``

In [34]:
resultset = cur.execute('select * from USER')

In [32]:
resultset

In [35]:
for row in resultset:
    print(row[1])

Rahul
Ujjwal
Shweta

In [41]:
# Filtering data 

resultset = cur.execute('select id,name from USER')

In [42]:
for row in resultset:
    print(row)

(1, 'Rahul')
(2, 'Ujjwal')
(3, 'Shweta')

In [38]:
resultset = cur.execute('select * from USER where id=1')

In [39]:
for r in resultset:
    print(r)

(1, 'Rahul', 38)