# Practice Problem

  ``Write a program which accepts a sequence of comma-separated numbers from console 
    and generate a list and a tuple which contains every number.
    Suppose the following input is supplied to the program:
        10,23,12,56,19
    Then the output should be :
        ['10','23','12','56','19']
        ('10','23','12','56','19')
 ``

``With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
``

`` Solution 1 of program 1 ``

In [1]:
user_input = input("Enter comma seperated values ")
print(user_input.split(','))

Enter comma seperated values 10,20,30,40
['10', '20', '30', '40']

In [2]:
user_input = input("Enter comma seperated values ")
l=user_input.split(',')
t = tuple(l)
print(l)
print(t)

Enter comma seperated values 10,20,30,40,50
['10', '20', '30', '40', '50']
('10', '20', '30', '40', '50')

In [7]:
def f():
    try:
        f=open('abcd','r')
    except Exception as e:
#         print(e,repr(e))
        print('File not found')
        print('creating file')
        f = open('abcd','w')
        f.write('hello world')
    finally:
        f = open('abcd','r')
        print(f.read())
        f.close()
        print('It will be Excecuted')
    print('Out of the block')
    print('End of the program')

In [8]:
f()

File not found
creating file
hello world
It will be Excecuted
Out of the block
End of the program

In [12]:
n = int(input("Enter a number"))
d = dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

Enter a number10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

`` Write a program, which will find all such numbers between 1000 and 3000 (both included) 
such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line. ``

`` Wap that accepts a sentence and calculates the number of uppercase and lower case letters
  e.g :---> input  Tirumala
  outptut ---> {'uppercase':1,'lowercase':7}
``

In [18]:
def get_all_even(start,end):
    even_bucket = []
    for i in range(start,end+1):
        # do something 
        text = str(i)
        for s in text:
            if s[0]%2 == 0 and s[1]%2==0 and s[2]%2==0 and s[3]%2==0:
                even_bucket.append(s)
        else:
            print('End of inner for')
    else:
        print('End of outer for')
    print(even_bucket)

In [23]:
def get_all_even(start,end):
    even_bucket = []
    for i in range(start,end+1):
        # do something 
        s = str(i)
        if (int(s[0])%2 == 0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
            even_bucket.append(s)
    print(even_bucket,len(even_bucket))

In [24]:
get_all_even(1000,3000)

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888'] 125

In [25]:
def upper_and_lower():
    
    d={'uppercase':0,'lowercase':0}
    msg = input("Enter Something")
    for ch in msg:
        if ch.isupper():
            d['uppercase']+=1
        elif ch.islower():
            d['lowercase']+=1
        else:
            print('Has reached the else clause')
            pass
    print(d)

In [26]:
upper_and_lower()

Enter SomethingTirumala
{'uppercase': 1, 'lowercase': 7}

`` Use a list comprehension to get each odd number in the list. The list is a sequence of comma seperated numbers ``
   
``    
  Example : 
    input ----> 1,2,3,4,5,6,7,8,9
    output ---> 1,3,5,7,9 
``

`` Aakash Code ``

In [28]:
n = input("Enter something")
print(n,type(n))

Enter something1,2,3,4,5
1,2,3,4,5 <class 'str'>

In [34]:
list_of_num=input("Enter numbers separated by commas:")
l=[item for item in list_of_num.split(',')]
print(l)
odd_list=[]
for i in range(0,len(l)):
    if int(l[i])%2!=0:
        odd_list.append(l[i])
    else:
        pass
print(odd_list)

Enter numbers separated by commas:1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']
['1', '3', '5']

`` Implement a counter using class `` 

`` Basic Skeleton `` 

``
class Counter:
    count = 0
    pass
``

In [44]:
class Counter:
    count = 0 
    def inc(self):
        Counter.count = Counter.count+1
        return Counter.count

In [45]:
a= Counter()
c = Counter()

In [46]:
c.inc()

1

In [47]:
c.inc()

2

In [48]:
a.inc()

3

In [51]:
class Counter:
    count = 0
    def __call__(self):
        Counter.count+=1
        return Counter.count

In [52]:
c = Counter()

In [53]:
c

In [54]:
c()

1

In [55]:
c()

2

In [56]:
c()

3

# Callables

`` Function is a callable, class is too ``

In [57]:
2()

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-57-c69d3a57c0fc>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  2()

TypeError: 'int' object is not callable

In [61]:
class Counter:
    """Counter class with callable"""
    
    count = 0
    def __call__(self):
        Counter.count+=1
        return Counter.count

Counter.__dict__

In [62]:
Counter.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': 'Counter class with callable',
              'count': 0,
              '__call__': <function __main__.Counter.__call__(self)>,
              '__dict__': <attribute '__dict__' of 'Counter' objects>,
              '__weakref__': <attribute '__weakref__' of 'Counter' objects>})

In [63]:
callable

In [64]:
help(callable)

Help on built-in function callable in module builtins:

callable(obj, /)
    Return whether the object is callable (i.e., some kind of function).

    Note that classes are callable, as are instances of classes with a
    __call__() method.

In [65]:
callable(True)

False

In [66]:
callable(print)

True

In [67]:
callable(1)

False

In [68]:
callable(c)

True

In [69]:
class One:
    def __init__(self):
        print('__init__ called ')

In [70]:
class Two:
    def __init__(self):
        print('__init__ called')
        
    def __call__(self):
        print('__call__ implemented ')

In [71]:
One.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.One.__init__(self)>,
              '__dict__': <attribute '__dict__' of 'One' objects>,
              '__weakref__': <attribute '__weakref__' of 'One' objects>,
              '__doc__': None})

In [72]:
Two.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Two.__init__(self)>,
              '__call__': <function __main__.Two.__call__(self)>,
              '__dict__': <attribute '__dict__' of 'Two' objects>,
              '__weakref__': <attribute '__weakref__' of 'Two' objects>,
              '__doc__': None})

In [73]:
one = One()

__init__ called

In [74]:
callable(one)

False

In [75]:
two = Two()

__init__ called

In [76]:
callable(two)

True

In [77]:
two()

__call__ implemented

`` Create a function that takes a function as an argument and variable number of 
positional arguments / keyword arg. Your program should be able to count the number of times
a function has been called ``

In [78]:
def my_func(fn,*args,**kwargs):
    fn(*args,**kwargs)

In [79]:
my_func(print,1,2,3)

1 2 3

In [80]:
my_func(print,"Hello Akash ")

Hello Akash