# Functions 
`` Function does something 
Syntax: def function_name():
            statement_1
            statement_2``

In [2]:
def my_func():
    print(' Wow , within function')

In [3]:
my_func

In [4]:
help(my_func)

Help on function my_func in module __main__:

my_func()

In [5]:
id(my_func)

1888437760064

In [6]:
my_func(1,2)

TypeError: my_func() takes 0 positional arguments but 2 were given

In [7]:
my_func()

 Wow , within function

In [8]:
def adder(a,b):
    result = a+b
    return result

In [9]:
adder

In [10]:
help(adder)

Help on function adder in module __main__:

adder(a, b)

In [12]:
adder(2,3)

5

In [13]:
print(adder(5,2))

7

In [14]:
def adder(a,b):
    """
     adder takes into two integers and
     returns the sum of the two numbers
    """
    result = a+b
    return result

In [15]:
adder

In [16]:
help(adder)

Help on function adder in module __main__:

adder(a, b)
    adder takes into two integers and
    returns the sum of the two numbers

`` Define a function, give it an meaningful name 
   The function should accept two arguments 
    and return the multiplication of the numbers. You should also use docstrings to 
make the function more readable for the user ``

In [17]:
def power(num,exponent):
    """
       Gives the power of num raised to exponent 
       if exponent = 0 returns 1
     """
    if exponent ==0:
        return 1
    else:
        return num**exponent

In [18]:
power

In [19]:
help(power)

Help on function power in module __main__:

power(num, exponent)
    Gives the power of num raised to exponent
    if exponent = 0 returns 1

In [20]:
power(2,0)

1

In [21]:
2**0

1

In [22]:
# 8
8**-2

0.015625

In [23]:
1/64

0.015625

In [24]:
power(2,-2)

0.25

In [28]:
power

In [29]:
print(dir(power))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [30]:
help(power)

Help on function power in module __main__:

power(num, exponent)
    Gives the power of num raised to exponent
    if exponent = 0 returns 1

In [31]:
power.__doc__

'\n       Gives the power of num raised to exponent \n       if exponent = 0 returns 1\n     '

In [32]:
sorted

In [33]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [34]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

In [46]:
def factorial(num):
    if num <0 :
        return 'Negative number'
    if num == 0 or num == 1:
        return 1
    else:
#         return 'wait i am calulcating'
        result = 1
        while num >=1:
            result = result * num 
            num = num - 1
            return f' The factorial = {result}'

In [47]:
factorial(3)

' The factorial of 3'

In [42]:
factorial(-3)

'Negative number'

In [48]:
def factorial(num):
    if num == 0 :
        return 1
    else:
#         return 'wait i am calulcating'
        result = 1
        while num > 1:
            result = result * num 
            num = num - 1
        print(result)

In [54]:
factorial(-5)

1

In [55]:
def print_name(name):
    print('Hello {}'.format(name))

In [56]:
print_name

In [57]:
print_name()

TypeError: print_name() missing 1 required positional argument: 'name'

In [58]:
print_name("Rahul Somani")

Hello Rahul Somani

In [59]:
def friend_list(seq):
    print(seq)

In [60]:
friend_list(1)

1

In [61]:
  friend_list("rahul" )

rahul

In [62]:
friend_list([1,2,3])

[1, 2, 3]

In [63]:
friend_list((1,2,3))

(1, 2, 3)

In [64]:
def friend_list(seq):
    """
    this function requires a sequence to be passed in 
    and will return the first element from the sequence.
    Also, the sequence type should be ordered 
    """
    return seq[0]

In [65]:
friend_list(100)

TypeError: 'int' object is not subscriptable

In [66]:
help(friend_list)

Help on function friend_list in module __main__:

friend_list(seq)
    this function requires a sequence to be passed in
    and will return the first element from the sequence.
    Also, the sequence type should be ordered

In [67]:
friend_list([100,200,300])

100

In [68]:
friend_list(('Saida',100,200,300))

'Saida'

In [69]:
friend_list("What is your name")

'W'

In [70]:
friend_list.__doc__

'\n    this function requires a sequence to be passed in \n    and will return the first element from the sequence.\n    Also, the sequence type should be ordered \n    '

In [71]:
l = [1,2,3]
s = 'akash'
t= 100,200,300,400

In [73]:
len(l), l.__len__()

(3, 3)

In [74]:
friend_list.__doc__ = 'Is it changed'

In [75]:
help(friend_list)

Help on function friend_list in module __main__:

friend_list(seq)
    Is it changed

In [76]:
def reverse_me(seq):
    return seq[::-1]

In [77]:
reverse_me

In [78]:
help(reverse_me)

Help on function reverse_me in module __main__:

reverse_me(seq)

In [79]:
reverse_me.__doc__ = 'It reverses a sequence '

In [80]:
help(reverse_me)

Help on function reverse_me in module __main__:

reverse_me(seq)
    It reverses a sequence

In [81]:
reverse_me([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [82]:
reverse_me('rahuL')

'Luhar'

In [83]:
reverse_me('rahul'.upper())

'LUHAR'

In [84]:
result = 'rahul'.upper()

In [85]:
result

'RAHUL'

In [86]:
reverse_me(result)

'LUHAR'

# Positional Arguments 
`` It is a way of assigning arguments to parameters, via the order they are passed (posiiton)``

`` def my_func(name,age):
       # codes
``
`` during function call , my_func('Rahul',35) ----> name -> 'Rahul'
    age = 35 ``
    
``my_func(35,'Rahul')``
`` name = 35 , age = 'Rahul'``

In [87]:
def my_func(name,age):
    print('Hello {} you are {} years old !! '.format(name,age))

In [88]:
my_func

In [89]:
my_func('Rahul',35)

Hello Rahul you are 35 years old !!

In [90]:
my_func(35,'Rahul')

Hello 35 you are Rahul years old !!

# Default values 
`` A positional argument can be made optional by speciying a default value for the corresponding parameter
def my_func(name,age=35):
    # code ``
    
``Function Call`` 

`` my_func('Rahul', 50)  name= 'Rahul' age=50 ``
``my_func('Rahul') name = 'Rahul' age = 35 ``

In [91]:
def my_func(name,age=35):
    print(' Hi {} you are {} years old '.format(name,age))

In [92]:
my_func

In [93]:
my_func('Rahul',50)

 Hi Rahul you are 50 years old

In [94]:
my_func('Rahul')

 Hi Rahul you are 35 years old

In [95]:
def my_func(name,age=34,profession):
    print(' Hi {} you are {} years and you are a {}'.format(name,age,profession))

SyntaxError: non-default argument follows default argument (<ipython-input-95-9259767484a1>, line 1)

# my_func('Rahul',36,'trainer')
# my_func('Rahul','Trainer')

In [96]:
def myrange(start=0,step=1):
    pass

In [98]:
myrange,id(myrange)

(<function __main__.myrange(start=0, step=1)>, 1888438644160)

In [104]:
def myrange(start=0,step=1):
    l = []
    while start < 100:
        l.append(start)
        start = start + step 
    return l

In [100]:
myrange()

===========================================End of Program===========================================

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [105]:
myrange(50)

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [106]:
myrange(50,3)

[50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

`` WAF that takes an sequence as an input, calulate the average and returns it ``

In [109]:
def averager(seq):
    """
    Takes a sequence ( assuming that all are integers ) 
    returns the average
    """
    return sum(seq)/len(seq)

In [112]:
help(averager)

Help on function averager in module __main__:

averager(seq)
    Takes a sequence ( assuming that all are integers )
    returns the average

In [113]:
averager.__doc__

'\n    Takes a sequence ( assuming that all are integers ) \n    returns the average\n    '

In [114]:
averager([1,2,3,4])

2.5

In [115]:
averager((1,2,3,4))

2.5

In [116]:
averager([1,2,3,'a'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [118]:
1 + 2 + 3

6

In [119]:
6 *'a'

'aaaaaa'

`` Implement a function that takes two inputs and returns the largest of them ``

In [121]:
print

In [122]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [123]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [124]:
def print(msg):
    return msg

In [125]:
help(print)

Help on function print in module __main__:

print(msg)

In [126]:
name = 'rahul'
print('hello {} '.format(name))

'hello rahul '

In [127]:
print("rahul")

'rahul'

In [128]:
print

In [129]:
print('hello','work')

TypeError: print() takes 1 positional argument but 2 were given

In [130]:
del print

In [131]:
name,age='rahul',35
print(name,age)

rahul 35

In [132]:
print('me','you')

me you

`` WAF that takes two arguments of sequence type and add the corresponding elements ``
``l1 = [1,2,3,4]``
``l2 = [3,4,5,6]``

``l = [l1[0] + l2[0], l1[1] + l2[1]....]
l = [4,6,8,10]``

In [133]:
def test():
    """ Test """
    print('test')

In [134]:
test.__doc__

' Test '

In [135]:
help(test)

Help on function test in module __main__:

test()
    Test

In [140]:
def test():
    print('test1')
    msg= """ Test """
    print(msg)

In [141]:
test.__doc__

In [142]:
print(test.__doc__)

None

In [143]:
help(test)

Help on function test in module __main__:

test()

In [145]:
test()

test1
 Test

In [147]:
list(zip([1,2,3,4],[100,200,300,400]))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [148]:
zip

zip

In [149]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [150]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [151]:
l = list(zip([1,2,3,4],[100,200,300,400]))

In [152]:
l

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [153]:
type(l)

list

In [154]:
l[0]

(1, 100)

In [155]:
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

`` Implement a function that asks the user for an input and print its multiplication table``

In [156]:
l = [1,2,3]
l[0],l.__getitem__(0)

(1, 1)

In [157]:
l[-1], l.__getitem__(-1)

(3, 3)

In [158]:
def my_func(l1,l2):
    """ Try to return the pairs first,
        e.g [(l1[0],l2[0]), (l1[1],l2[1]),... ]
    """
    l = [
        l1[0] + l2[0],
        l1[1] + l2[1]
      ]
    return l

In [159]:
my_func

In [160]:
help(my_func)

Help on function my_func in module __main__:

my_func(l1, l2)
    Try to return the pairs first,
    e.g [(l1[0],l2[0]), (l1[1],l2[1]),... ]

In [161]:
my_func([1,2],[1,2])

[2, 4]

In [162]:
my_func([1,2,3,4],[1,2,3,4,5])

[2, 4]

In [163]:
[i*i for i in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [164]:
[i*i for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

In [165]:
[i*i for i in range(10) if i%2!=0]

[1, 9, 25, 49, 81]

In [166]:
def my_func(l1,l2):
    """ Try to return the pairs first,
        e.g [(l1[0],l2[0]), (l1[1],l2[1]),... ]
    """
    l=[]
    pos = 0 
    while pos < len(l1) and pos < len(l2):
        l.append(l1[pos]+ l2[pos])
        pos +=1
       

    return l

In [167]:
my_func

In [168]:
my_func([1,2,3,4],[0,1,-2,3])

[1, 3, 1, 7]

In [171]:
my_func([1,2,3,4,20],[0,1,-2,3,100,200])

[1, 3, 1, 7, 120]

In [172]:
my_func.__dict__

{}

In [173]:
my_func.author = 'Saithili and Aakash'
my_func.version = '1.0.0.1'

In [174]:
my_func.__dict__

{'author': 'Saithil and Aakash', 'version': '1.0.0.1'}

In [175]:
my_func.__dict__['author']

'Saithil and Aakash'

In [177]:
'__dict__' in dir(print)

False

In [179]:
def adder(l1,l2):
    if len(l1)==len(l2):
        i=0
        while i < len(l1):
            l.append(l1[i]+l2[i])
            i+=1
        print('From Rao')
        return l
    
     
#     if len(l1)== len(l2):
#         i=0
#         while i<=len(l1):
#             a=l1[i]+l2[i]
#             l.append(a)
#             i+=1
#     else:
#         return 1
#     return l

SyntaxError: invalid non-printable character U+00A0 (<ipython-input-179-437c500271c4>, line 10)

In [180]:
def adder(l1,l2):
    if len(l1)==len(l2):
        i=0
        while i < len(l1):
            l.append(l1[i]+l2[i])
            i+=1
        print('From Rao')
        return l

In [181]:
adder

In [182]:
adder([1,2],[0,1])

From Rao

[1, 2, 3, 1, 3]

In [183]:
# Function Annotations

In [184]:
def adder(a:"requires integer",b:"should be an int")->'Return addition of a and b':
    return a+b

In [185]:
adder

In [186]:
help(adder)

Help on function adder in module __main__:

adder(a: 'requires integer', b: 'should be an int') -> 'Return addition of a and b'

# Chill guys , Remember
##  patience and practice

In [188]:
k=10

In [189]:
k

10