In [1]:
#  Datatypes in python

In [2]:
x = 0

In [3]:
type(x)

int

In [4]:
y = 1.2
y

1.2

In [5]:
type(y)

float

In [6]:
x = "somani"

In [7]:
type(x)

str

# Sequence datatype 
`` A datatype that stores elements in sequence ( order is preserved )``

In [8]:
name = 'Akash'
name[0]

'A'

# Lists
`` Lists are sequence type containers, that can store multiple values of 
   different type ( Homogeneous / Heterogenous) ``
  
 `` Syntax : 
        var_name = []  --> Empty list 
        var_name = [1,2,'example',40.86]
        var_name = list() ``

In [9]:
l = [1,2,3]
print(l)

[1, 2, 3]

In [10]:
l

[1, 2, 3]

In [11]:
type(l)

list

In [12]:
list_one = ['Me','you','he','she'] # Homogeneous
list_two = ['Ujjwal',30,'Dubai',653283] # Heterogenous

In [13]:
list_one

['Me', 'you', 'he', 'she']

In [14]:
list_two

['Ujjwal', 30, 'Dubai', 653283]

In [15]:
list_one[0]

'Me'

In [16]:
list_two[3]

653283

In [17]:
list_two[5]

IndexError: list index out of range

In [18]:
list_two[-1]

653283

In [19]:
2 -0, 2+0

(2, 2)

In [21]:
list_two

['Ujjwal', 30, 'Dubai', 653283]

In [22]:
list_two[2-0]

'Dubai'

In [23]:
list_one[-0]

'Me'

In [24]:
# Slicing 
l = [1,2,3,4,5,6,7,8,9]
l[0:3]

[1, 2, 3]

In [25]:
l[:3]

[1, 2, 3]

In [27]:
l[:19:2]

[1, 3, 5, 7, 9]

`` slicing a list,and providing an index value that does not makes sense 
 will not result in an error. Python will ignore it and traverse the entire 
    list ``

In [28]:
name = [ 'rahul','ujjwal','deep',11,78.9]
name

['rahul', 'ujjwal', 'deep', 11, 78.9]

In [30]:
name[:6384390]

['rahul', 'ujjwal', 'deep', 11, 78.9]

In [31]:
# What are lists then. An Array ? Or Something else

In [32]:
l = []

In [33]:
type(l), l, len(l)

(list, [], 0)

In [34]:
l = list()

In [35]:
l

[]

In [36]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [37]:
l1 = [1,2,3]
l2 = [4,5,6]

l1 + l2

[1, 2, 3, 4, 5, 6]

In [38]:
list.append

In [39]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [40]:
l=[]

In [42]:
id(l), hex(id(l))

(2256460522624, '0x20d5f872480')

In [43]:
l = l + [1,2,3]

In [44]:
l

[1, 2, 3]

In [45]:
hex(id(l))

'0x20d5f91a640'

In [46]:
m = []

In [49]:
id(m),type(m)

(2256460502848, list)

In [50]:
m.append

In [51]:
m.append(1)

In [52]:
m, id(m)

([1], 2256460502848)

In [53]:
s = " "
type(s)

str

In [54]:
id(s)

2256395187184

In [55]:
s = s + 'hello'

In [56]:
s

' hello'

In [58]:
id(s)

2256461210544

In [61]:
l = [1,2,3]
print(' Memory address of my home = {} and members = {}'.format(id(l),l))
l = [1,2,3] + [4]
print(' Memory address of my home = {} and members = {}'.format(id(l), l))

 Memory address of my home = 2256460505984 and members = [1, 2, 3]
 Memory address of my home = 2256461229568 and members = [1, 2, 3, 4]

In [63]:
my_current_name = 'Rahul'
print(' Memory address of my home = {} and name = {}'.format(id(my_current_name),my_current_name))

my_changed_name = my_current_name + 'Somani'
print(' Memory address of my home = {} and name = {}'.format(id(my_changed_name),my_changed_name))

 Memory address of my home = 2256461281776 and name = Rahul
 Memory address of my home = 2256461281904 and name = RahulSomani

In [64]:
# Lets talk about some methods of the string data type

In [65]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [66]:
str.upper

In [67]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [68]:
name = 'Akash'
name.upper()

'AKASH'

In [69]:
name = 'Akash'
print(' Hi {} your id = {}'.format(name,id(name)))
name=name.upper()
print(' Hi {} your id = {}'.format(name,id(name)))

 Hi Akash your id = 2256461283440
 Hi AKASH your id = 2256461279472

In [70]:
average = 10

In [71]:
print(average)

10

In [72]:
l = [1,2,3]
id(l)

2256461261120

In [73]:
l = [100,200,300]

In [75]:
id(l)

2256460506624

In [76]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [77]:
"RAHUL".lower()

'rahul'

In [78]:
"rahul somani".title()

'Rahul Somani'

In [79]:
name = "rahul somani".title()
name

'Rahul Somani'

In [80]:
"rahul somani".capitalize()

'Rahul somani'

In [81]:
"RAHUL".isupper()

True

In [82]:
str.isupper

In [83]:
help(str.isupper)

Help on method_descriptor:

isupper(self, /)
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

In [84]:
str.islower

In [85]:
help(str.islower)

Help on method_descriptor:

islower(self, /)
    Return True if the string is a lowercase string, False otherwise.

    A string is lowercase if all cased characters in the string are lowercase and
    there is at least one cased character in the string.

In [86]:
"rahul".islower()

True

In [87]:
"Rahul".islower()

False

In [88]:
"RAHUl".isupper()

False

In [89]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [90]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [91]:
"rahul".replace('a',' ')

'r hul'

In [92]:
"rahul".replace('a','-')

'r-hul'

In [93]:
"rahul".replace('a','----------------------------')

'r----------------------------hul'

In [94]:
"rahul".replace('u','UUJWWALL')

'rUUJWWALLhul'

In [95]:
id('UUJWWALL')

2256461283888

In [96]:
id('rahul')

2256460523632

In [97]:
# The memory addresses changes or not after replacing, because we are not using any 
# assignment operator

In [99]:
name = 'rahul'
print(name)
print('Currently the address of name = {}'.format(id(name)))
name.replace('a',' ')
print('Currently the address of name = {}'.format(id(name)))
print(name)

rahul
Currently the address of name = 2256460523632
Currently the address of name = 2256460523632
rahul

In [100]:
name = 'rahul'
print(name)
print('Currently the address of name = {}'.format(id(name)))
result = name.replace('a',' ')
print('Currently the address of name = {}'.format(id(result)))
print(result)

rahul
Currently the address of name = 2256460523632
Currently the address of name = 2256460452592
r hul

In [101]:
'potato and tomato'.replace('t', ' ')

'po a o and  oma o'

In [102]:
'potato and tomato'.replace('t', '-')

'po-a-o and -oma-o'

In [103]:
'potato and tomato'.replace('t', '-',-1)

'po-a-o and -oma-o'

In [104]:
'potato and tomato'.replace('t', '-',1)

'po-ato and tomato'

In [105]:
'potato and tomato'.replace('t', '-',3)

'po-a-o and -omato'

In [106]:
name = 'rahul'

In [107]:
name[3]=' '

TypeError: 'str' object does not support item assignment

In [108]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [109]:
str.split

In [110]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

``split(self, /, sep=None, maxsplit=-1)``

In [111]:
"rahul somani".split()

['rahul', 'somani']

In [112]:
"rahul somani".split(sep=None)

['rahul', 'somani']

In [113]:
"rahulsomani".split()

['rahulsomani']

In [114]:
"rahulsomani".split(sep='h')

['ra', 'ulsomani']

In [115]:
msg = "This is just a test"
splitted_msg = msg.split(' ',maxsplit=-1)

In [117]:
splitted_msg, type(splitted_msg), len(splitted_msg)

(['This', 'is', 'just', 'a', 'test'], list, 5)

In [118]:
msg = "This is just a test"
splitted_msg = msg.split(' ',maxsplit=1)

In [119]:
splitted_msg, type(splitted_msg), len(splitted_msg)

(['This', 'is just a test'], list, 2)

In [120]:
splitted_msg = msg.split('s',maxsplit=1)

In [121]:
splitted_msg, type(splitted_msg), len(splitted_msg)

(['Thi', ' is just a test'], list, 2)

In [122]:
my_str = 'Thanks all'
splitted_str=  my_str.split('k')

In [123]:
splitted_str

['Than', 's all']

In [124]:
'potato and tomato'.split(sep='t')

['po', 'a', 'o and ', 'oma', 'o']

In [125]:
'potato and tomato'.split(sep='t',maxsplit=3)

['po', 'a', 'o and ', 'omato']

In [127]:
'potato and tomato'.split(sep='t',maxsplit=4)

['po', 'a', 'o and ', 'oma', 'o']

In [128]:
'potato and tomato'.split(sep='t',maxsplit=400)

['po', 'a', 'o and ', 'oma', 'o']

In [129]:
'potato and tomato'.split('t',4)

['po', 'a', 'o and ', 'oma', 'o']

In [130]:
'potato and tomato'.split(maxsplit=4,sep='t')

['po', 'a', 'o and ', 'oma', 'o']

In [131]:
'potato and tomato'.split(4,'t')

TypeError: 'str' object cannot be interpreted as an integer