# This is a way to pass in variable number of positional arguments
`` mostly denoted by *args , although you can use any name of your choice, 
  which I am doing beneath ``

In [19]:
def my_func(*a):
    print(a)

In [3]:
my_func

In [4]:
my_func(1)

(1,)

In [5]:
my_func(1,100)

(1, 100)

In [6]:
my_func(1,100,"rahul",'akash')

(1, 100, 'rahul', 'akash')

In [7]:
def my_func(*args):
    print(args)
    print(type(args))

In [9]:
id(my_func)

1572237313792

In [10]:
my_func() # With no argument

()
<class 'tuple'>

In [11]:
my_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [12]:
my_func('Rahul',True,2.3,200)

('Rahul', True, 2.3, 200)
<class 'tuple'>

In [14]:
def my_func(a,b):
    pass

In [17]:
my_func(1,2)

In [18]:
del my_func

In [20]:
my_func(a=10,b=20)

TypeError: my_func() got an unexpected keyword argument 'a'

`` Implement this: 
    A function which can accept variable number of 
    positional arguments and find the sum of those 
    numbers.``

In [21]:
def my_func(*ignore):
    return sum(ignore)

In [22]:
my_func('a','b','c')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
my_func(1,2)

3

In [25]:
my_func(1,2,'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
str("rahul")

'rahul'

In [27]:
repr("rahul")

"'rahul'"

In [28]:
"rahul".__str__()

'rahul'

In [29]:
"rahul".__repr__()

"'rahul'"

In [30]:
t= ([1,2], [1,2])

In [31]:
sum(t)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

# Keyword arguments 
`` key=value ``

In [32]:
def my_func(**bucket):
    print(bucket)

In [33]:
my_func

In [34]:
my_func(name='Rahul',age=35)

{'name': 'Rahul', 'age': 35}

In [35]:
def my_func(**kwargs):
    print(kwargs)

In [36]:
my_func()

{}

In [37]:
my_func(a=10,b=20,c=30)

{'a': 10, 'b': 20, 'c': 30}

In [38]:
t = 1,2,3,'rahul','somani'

In [43]:
first,*rest,last = t

In [44]:
first,rest,last

(1, [2, 3, 'rahul'], 'somani')

Think about this

In [46]:
t = 1,2,3,'rahul','somani'
first,*ignore,**rest = t

SyntaxError: invalid syntax (<ipython-input-46-89499f251011>, line 2)

In [47]:
def my_func(*args,**kwargs):
    print(' Hi , welcome to {}'.format(my_func.__name__))
    print('Positional Arguments = {}'.format(args))
    print('Keyword only arguments = {}'.format(kwargs))

In [48]:
help(my_func)

Help on function my_func in module __main__:

my_func(*args, **kwargs)

In [49]:
my_func(10)

 Hi , welcome to my_func
Positional Arguments = (10,)
Keyword only arguments = {}

In [50]:
my_func([10,20,30],(100,200),"Rajdeep")

 Hi , welcome to my_func
Positional Arguments = ([10, 20, 30], (100, 200), 'Rajdeep')
Keyword only arguments = {}

In [51]:
my_func(name='Rahul',age=35)

 Hi , welcome to my_func
Positional Arguments = ()
Keyword only arguments = {'name': 'Rahul', 'age': 35}

`` Would you please write a program that can student and marks as an input. The first should be positional argument, while the rest should be keyword only argument. Then finally print the sum of the marks ``

`` function signature : def student_marks('rahul',eng=60, maths=90,...)``

`` You should be able to call it like : func_name(name='rahul',eng=60,math=90, ...)``

In [60]:
def student_marks(*args,**kwargs):
    print(' Hi ', args[0])
    print(kwargs['eng'])
    print(kwargs['hin'])

In [61]:
student_marks('rahul',eng=10,hin=20)

 Hi  rahul
10
20

In [62]:
def student_marks(*args,**kwargs):
    print(' Hi ', args[0])
    marks = kwargs.values()
    print(marks)

In [63]:
student_marks('akash',e=10,h=20,s=30)

 Hi  akash
dict_values([10, 20, 30])

In [64]:
def student_marks(*args,**kwargs):
    print(' Hi ', args[0])
    marks = sum(kwargs.values())
    print(marks)

In [65]:
student_marks('akash',e=10,h=20,s=30)

 Hi  akash
60

In [66]:
t = 1,

In [67]:
type(t)

tuple

In [68]:
print(t)

(1,)

In [69]:
print(t[0])

1

`` Try to get the number of positional args and keyword only arguments ``

In [70]:
student_marks.__code__.co_names

('print', 'sum', 'values')

In [71]:
print(dir(student_marks.__code__))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'co_argcount', 'co_cellvars', 'co_code', 'co_consts', 'co_filename', 'co_firstlineno', 'co_flags', 'co_freevars', 'co_kwonlyargcount', 'co_lnotab', 'co_name', 'co_names', 'co_nlocals', 'co_posonlyargcount', 'co_stacksize', 'co_varnames', 'replace']

In [73]:
student_marks.__code__.co_argcount

0

In [74]:
def test(name,age=35,profession='trainer'):
    print('All well')

In [75]:
test('rahul')

All well

In [76]:
test.__code__.co_argcount

3

In [77]:
test.__code__.kwonlyargcount

AttributeError: 'code' object has no attribute 'kwonlyargcount'

In [78]:
def student_marks(*args,**kwargs):
    print(' Hi ', args[0])
    print('Number of positonal arg = {}'.format(len(args)))
    print('Number of keyword only arg = {}'.format(len(kwargs)))
    
    marks = sum(kwargs.values())
    print(marks)

In [81]:
student_marks('rahul','somani', 'ujjwal', cs=70,eng=70,hindi=80,marathi=89)

 Hi  rahul
Number of positonal arg = 3
Number of keyword only arg = 4
309

In [82]:
student_marks('rahul','somani', 'ujjwal', eng=70,hindi=80,marathi=89,cs=70)

 Hi  rahul
Number of positonal arg = 3
Number of keyword only arg = 4
309

In [83]:
def test_func(name='Rahul',age=35):
    print(name,age)

In [84]:
test_func()

Rahul 35

In [85]:
test_func(name='Ujjwal',age=32)

Ujjwal 32

In [86]:
test_func(age=32,name='Ujjwal')

Ujjwal 32

In [91]:
test_func('somani',56)

somani 56

In [88]:
test_func(56,'somani')

56 somani

In [90]:
test_func(age=56,name='mani')

mani 56