# lambda 
# Anonymous 
`` A function that does not have a name ``
`` Anonymous functions can be created using the lambda keyword ``

`` lamda x,y:x+y ``

In [5]:
def add(x,y):
    return x

In [6]:
add(1,1)

2

In [7]:
lambda x,y:x+y

In [8]:
example=lambda x,y:x+y

In [9]:
example

In [10]:
example(1,1)

2

In [11]:
f=lambda seq:seq[-1]

In [12]:
f("rahul")

'l'

In [13]:
f([1,2,3,4])

4

In [14]:
f((100,200,300))

300

In [15]:
f({1,2,3,4})

TypeError: 'set' object is not subscriptable

In [16]:
f({'name':'rahul','key':34})

KeyError: -1

In [17]:
d = {'name':'rahul','key':34}

In [18]:
type(d)

dict

In [19]:
d[0]

KeyError: 0

In [20]:
d[-1]

KeyError: -1

In [21]:
d['name']

'rahul'

In [22]:
d['key']

34

In [23]:
def sequence(seq,start=0,stop=100):
    return seq[start:stop]

In [24]:
sequence("Rahul",start=1,stop=5)

'ahul'

In [25]:
lambda seq,start=0,stop=100:seq[start:stop]

In [26]:
s=lambda seq,start=0,stop=100:seq[start:stop]

In [28]:
s("rahul",start=1,stop=5)

'ahul'

`` write a function using lambda that takes 2 input and returns True if both are equal ``

In [29]:
lambda x,y: x if x>y else y

In [31]:
maxval=lambda x,y: x if x>y else y

In [32]:
maxval(10,20)

20

In [33]:
x,y=10,20
print("Hello") if x < y else print("Hi")

Hello

In [38]:
print(x,y)

10 20

In [39]:
maxval(200,100)

200

In [40]:
maxval('a','b')

'b'

In [43]:
ord('A') - ord('a')

-32

In [44]:
maxval([2,3,4],[100,200])

[100, 200]

In [47]:
def sort_me(seq):
    """
    Suppose the input is a list with items of the same type 
    It will sort in ascending order
    """
    return seq.sort()

In [48]:
sort_me([10,2,4,10,19,1])

In [45]:
l = [10,2,4,10,19,1]
l.sort()

In [46]:
l

[1, 2, 4, 10, 10, 19]

In [57]:
def sort_me(seq):
    """
    Suppose the input is a list with items of the same type 
    It will sort in ascending order
    """
     
    return sorted(seq)

In [58]:
sort_me([10,2,4,10,19,1])

[1, 2, 4, 10, 10, 19]

In [55]:
f=lambda x:sorted(x)

In [56]:
f([10,2,3])

[2, 3, 10]

In [59]:
lambda seq:sorted(seq)

In [60]:
mysort=lambda seq:sorted(seq)

In [61]:
mysort('deabcz')

['a', 'b', 'c', 'd', 'e', 'z']

`` Question session ``

`` 1. Wap to find the fibonacii series using functions 
   2. using lambda wap that takes a name as input toand returns True if in uppercase 
      else  returns false 
 Note: Take care of documenting your functions ( not in case of lambda ) and also annotating it ``